body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#game-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    max-width: 100%;
}


.cell {
    width: 100%;
    aspect-ratio: 1 / 1;
    font-size: calc(10px + 2vmin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.prefilled-cell {
    background-color: #e0e0e0;
    font-weight: bold;
}


.operator {
    background-color: #f0f0f0;
}

.input-cell {
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #333;
}

.input-cell.selected {
    background-color: #e0e0e0;
}

.number {
    width: 60px;
    height: 60px;
    border: 1px solid #333;
    margin: 0 5px;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    cursor: pointer;
}

.number.selected {
    border: 2px solid #000;
}

#number-panel {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.empty-cell {
    background-color: #f0f0f0;
    border: none;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
}

button#startButton {
    display: block;
    margin: 20px auto;
}

